<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userRepository" class="pl.raziel.spring.UserRepository"/>
    <bean id="dictionaryRepository" class="pl.raziel.spring.DictionaryRepository"/>

    <bean id="appByType" class="pl.raziel.spring.AppByType" autowire="byType"/>

    <bean id="appByConstructor" class="pl.raziel.spring.AppByConstructor" autowire="constructor"/>

</beans>